@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "estedad";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/estedad.woff2") format("woff2");
}

body {
  font-family: "estedad";
}

.Collapsible {
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0px;
}

#courses :last-child {
  border: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#courses {
  max-height: calc(100vh - 80px);
}

#coursesDiv {
  max-height: calc(100vh - 200px);
}

input[type="checkbox"] {
  accent-color: rgb(13, 154, 13);
}

input[type="checkbox"]:hover {
  accent-color: rgb(13, 154, 13);
}
