@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "estedad";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/estedad.woff2") format("woff2");
}

body {
  font-family: "estedad";
}

.Collapsible {
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 0px;
}

#coursesDiv :last-child {
  border: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.courses {
  max-height: calc(100vh - 370px);
}

#coursesDiv {
  height: calc(100vh - 500px);
  max-height: 900px;
}

.coursesDiv {
  height: calc(100vh - 500px);
  max-height: 900px;
}

input[type="checkbox"] {
  accent-color: rgb(13, 154, 13);
}

input[type="checkbox"]:hover {
  accent-color: rgb(13, 154, 13);
}

#plan {
  grid-template-columns: 50px repeat(22, 13px);
  grid-template-rows: 0px repeat(6, 28px);
}

@media screen and (min-width: 410px) {
  #plan {
    grid-template-columns: 50px repeat(22, 14px);
    grid-template-rows: 0px repeat(6, 34px);
  }
}

@media screen and (min-width: 460px) {
  #plan {
    grid-template-columns: 50px repeat(22, 16.5px);
    grid-template-rows: 0px repeat(6, 35px);
  }
}

@media screen and (min-width: 500px) {
  #plan {
    grid-template-columns: 70px repeat(22, 17px);
    grid-template-rows: 0px repeat(6, 37px);
  }
}

@media screen and (min-width: 550px) {
  #plan {
    grid-template-columns: 70px repeat(22, 20px);
    grid-template-rows: 0px repeat(6, 37px);
  }
}

@media screen and (min-width: 600px) {
  #plan {
    grid-template-columns: 70px repeat(22, 22px);
    grid-template-rows: 0px repeat(6, 39px);
  }
}

@media screen and (min-width: 650px) {
  #plan {
    grid-template-columns: 70px repeat(22, 24px);
    grid-template-rows: 0px repeat(6, 40px);
  }
}

@media screen and (min-width: 700px) {
  #plan {
    grid-template-columns: 70px repeat(22, 26px);
    grid-template-rows: 0px repeat(6, 40px);
  }
}

@media screen and (min-width: 768px) {
  #plan {
    grid-template-columns: 70px repeat(22, 16px);
    grid-template-rows: 0px repeat(6, 45px);
  }
  .courses {
    max-height: calc(100vh - 80px);
  }

  #coursesDiv {
    height: calc(100vh - 210px);
  }

  .coursesDiv {
    height: calc(100vh - 210px);
  }
}

@media screen and (min-width: 900px) {
  #plan {
    grid-template-columns: 70px repeat(22, 20px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

@media screen and (min-width: 900px) {
  #plan {
    grid-template-columns: 70px repeat(22, 20px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

@media screen and (min-width: 1024px) {
  #plan {
    grid-template-columns: 70px repeat(22, 23px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

@media screen and (min-width: 1270px) {
  #plan {
    grid-template-columns: 70px repeat(22, 30px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

@media screen and (min-width: 1440px) {
  #plan {
    grid-template-columns: 70px repeat(22, 36px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

@media screen and (min-width: 1536px) {
  #plan {
    grid-template-columns: 70px repeat(22, 40px);
    grid-template-rows: 0px repeat(6, 56px);
  }
}

.day-1 {
  grid-row-start: 1;
}

.day0 {
  grid-row-start: 2;
}

.day1 {
  grid-row-start: 3;
}

.day2 {
  grid-row-start: 4;
}

.day3 {
  grid-row-start: 5;
}

.day4 {
  grid-row-start: 6;
}

.day5 {
  grid-row-start: 7;
}

.day6 {
  grid-row-start: 8;
}

.interval15 {
  grid-column: span 3 / span 3;
}

.interval20 {
  grid-column: span 4 / span 4;
}

.interval25 {
  grid-column: span 5 / span 5;
}

.interval30 {
  grid-column: span 6 / span 6;
}

.timeStart75 {
  grid-column-start: 2;
  border-right: 1px solid #cbcbcb;
}

.timeStart80 {
  grid-column-start: 3;
}

.timeStart85 {
  grid-column-start: 4;
}

.timeStart90 {
  grid-column-start: 5;
  border-right: 1px solid #cbcbcb;
}

.timeStart95 {
  grid-column-start: 6;
}

.timeStart100 {
  grid-column-start: 7;
}

.timeStart105 {
  grid-column-start: 8;
  border-right: 1px solid #cbcbcb;
}

.timeStart110 {
  grid-column-start: 9;
}

.timeStart115 {
  grid-column-start: 10;
}

.timeStart120 {
  grid-column-start: 11;
  border-right: 1px solid #cbcbcb;
}

.timeStart125 {
  grid-column-start: 12;
}

.timeStart130 {
  grid-column-start: 13;
}

.timeStart135 {
  grid-column-start: 14;
  border-right: 1px solid #cbcbcb;
}

.timeStart140 {
  grid-column-start: 15;
}

.timeStart145 {
  grid-column-start: 16;
}

.timeStart150 {
  grid-column-start: 17;
  border-right: 1px solid #cbcbcb;
}

.timeStart155 {
  grid-column-start: 18;
}

.timeStart160 {
  grid-column-start: 19;
}

.timeStart165 {
  grid-column-start: 20;
  border-right: 1px solid #cbcbcb;
}

.timeStart170 {
  grid-column-start: 21;
}

.timeStart175 {
  grid-column-start: 22;
}

.timeStart180 {
  grid-column-start: 23;
  border-right: 1px solid #cbcbcb;
}

@media screen and (min-width: 1536px) {
  .cnt {
    width: 1536px;
  }
}
